body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 2em;
}

.logo {
  color: #666;
}

.logo-spiffy {
  color: #000;
}

/* Tabs and panels */
.react-tabs__tab-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.react-tabs__tab {
  border: 1px solid #999;
  width: fit-content;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #8888ff;
}

.react-tabs__tab-panel {
  margin-top: 1em;
}

/* Inventory */
.primes_list {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.prime_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.prime_row label {
  white-space: nowrap;
}

.prime_row .parts {
  display: flex;
  flex-direction: row;
}

.prime_row .prime {
  width: 15em;
  padding: 1px 5px 1px 1px;
  border: solid 1px #000;
}

.prime_row .prime label {
  display: block;
  width: 10em;
}

.prime_row .part {
  width: 5em;
  padding: 1px 5px 1px 1px;
  border: solid 1px #000;
}

.prime_row .part label {
  display: block;
  width: 8em;
}

.prime_row .parts {
  width: 80%;
}

.primes_list input {
  width: 2em;
}

/* Wishlist */
.wishlist-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 850px;
  align-content: flex-start;
}

.wishlist-row {
  display: flex;
  flex-direction: row;
  border: solid 1px #000;
  width: 15em;
  padding: 2px 0px 2px 1px;
  margin: 0px 5px 2px 0px;
}

.wishlist-row label {
  width: 10em;
}

.wishlist-row input[type="checkbox"] {
}

.wishlist-row input[type="button"] {
  margin-left: 5px;
}

/* Salables */
.salables-list {
  display: flex;
  flex-direction: column;
}

.salables-row {
  display: flex;
  flex-direction: row;
  border: solid 1px #000;
  width: 30em;
  padding: 2px 0px 2px 1px;
  margin: 0px 5px 2px 0px;
}

.salables-row label {
  width: 15em;
}

.salables-row .ducats {
  width: 10em;
  text-align: left;
}

.salables-row .plat {
  width: 7em;
}

/* Relic Run */
.relicrun-panes {
  display: flex;
  flex-direction: row;
}

.relic-runner {
  width: 55%;
  padding: 0.5em;
  border: solid 1px #000;
}

.era-select-wrapper {
  display: flex;
}

.era-select-wrapper label {
  width: 3em;
}

.era-select {}

.code-select-wrapper {
  display: flex;
}

.code-select-wrapper label {
  width: 3em;
}

.code-select {}

.rewards-list {
  list-style: none;
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.rewards-list .rewards-description {
  padding: 5px 0px 5px 0px;
}

.rewards-list .reward {
  cursor: pointer;
  border: solid 1px black;
}

.rewards-list .reward .reward-name {}

.rewards-list .reward .reward-ducats {
  float: right;
}

.rarity-common {
  background: #b45f06;
}

.rarity-uncommon {
  background: #666666;
}

.rarity-rare {
  background: #bf9000;
}

.rewards-list .desire-description {
  margin: 5px 0px 0px 0px;
}

#desire-description-desired {
  border: solid 1px red;
}

#desire-description-complete {
  border: solid 1px blue;
}

#desire-description-unneeded {
  border: solid 1px grey;
}

.relic-list {
  width: 15%;
  padding: 0.5em;
  margin-left: 1em;
  border: solid 1px #000;
}

.relic-list .description {
  height: 7em;
}

.relic-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.relic-list ul li {
  cursor: pointer;
}
