/* Tabs and panels */
.logo {
  color: #666;
}

.logo-spiffy {
  color: #000;
}

.react-tabs__tab-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.react-tabs__tab {
  border: 1px solid #999;
  width: fit-content;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #8888ff;
}

.react-tabs__tab-panel {
  margin-top: 1em;
}
