/* Salables */
.salables-list {
  display: flex;
  flex-direction: column;
}

.salables-row {
  display: flex;
  flex-direction: row;
  border: solid 1px #000;
  width: 30em;
  padding: 2px 0px 2px 1px;
  margin: 0px 5px 2px 0px;
}

.salables-row label {
  width: 15em;
}

.salables-row .ducats {
  width: 10em;
  text-align: left;
}

.salables-row .plat {
  width: 7em;
}
